.toast {
  position: fixed;
  display: flex;
  justify-content: center;
  padding: 10px 5px;
  max-width: min-content;
  min-width: 200px;
  right: 10px;
  bottom: 10vh;
  border-radius: 10px;
  transition: opacity 0.3s ease, transform 0.3s ease;
}

.toast-info {
  border: 1px solid rgb(0, 162, 255);
}

.toast-error {
  border: 1px solid rgb(255, 8, 0);
}

.toast-success {
  border: 1px solid rgb(0, 255, 13);
}

.toast.visible {
  opacity: 1;
  transform: translateY(0);
}

.toast.invisible {
  opacity: 0;
  transform: translateY(20px);
  pointer-events: none;
}

.message {
  margin: 0;
}

.close-btn {
  position: absolute;
  top: 5%;
  right: 5%;
  border: 0;
  background: none;
  cursor: pointer;
}