.sidebar {
  position: fixed;
  top: 0;
  right: 0;
  display: flex;
  gap: 10px;
  padding: 10px;
  height: 100vh;
  max-width: 30vw;
  min-width: 20vw;
  background-color: rgb(182, 254, 230);
  transition: transform 0.3s ease;
}

.opened {
  transform: translateX(0);
}

.closed {
  transform: translateX(100%);
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.2);
}

.list {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  list-style-type: none;
  padding-left: 1rem;
}

.menu-link {
  color: black;
  text-decoration: none;
  border-bottom: 1.5px solid transparent;
  transition: 0.3s;
}

.menu-link:hover {
  border-bottom: 1.5px solid white;
}

.accordion {
  max-width: 100%;
  height: min-content;
  cursor: pointer;
}

.accordion .list {
  margin-top: 1rem;
}